@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: 'Press Start 2P', cursive;
  color: rgb(82, 0, 140);
  text-shadow: 2px 2px 3px rgb(111, 111, 111);
  font-size: 30px;
}

body {
  height: 95vh;
  width: 95;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: cadetblue;
}
